<div class="container1">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <img class="footer_img" src="/assets/logo_ngen.png" alt="logo_ngen">
        <p class="texto_copy text-body-secondary align-self-center mt-2 mb-1">&copy; 2024 - Agustin Cortez</p>
        <a href="/api/login" class="nav-link p-0 text-body-secondary small-link">Iniciar Sesion</a>
      </div>
  
      <div class="col mb-3">
      </div>
  
      <div class="col mb-3 secciones">
        <h5>Secciones</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Inicio</a></li>
          <li class="nav-item mb-2"><a href="/nuestraEmpresa" class="nav-link p-0 text-body-secondary">Nuestra Empresa</a></li>
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Servicios</a></li>
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Proyectos</a></li>
          <li class="nav-item mb-2"><a href="/api/contactos" class="nav-link p-0 text-body-secondary">Contacto</a></li>
        </ul>
      </div>
  
      <div class="col mb-3 datos">
        <h5 class="nosotros">Nosotros</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a  class="nav-link p-0 text-body-secondary">Río de la Plata 1379, Las Condes, Santiago</a></li>
          <li class="nav-item mb-2"><a  class="nav-link p-0 text-body-secondary">Investigaciones y Desarrollo Experimental en el Campo de las Ciencias</a></li>
          <li class="nav-item mb-2"><a  class="nav-link p-0 text-body-secondary">fono: +56 9 8461 4909 / +56 9 8574 5486</a></li>
          <li class="nav-item mb-2"><a  class="nav-link p-0 text-body-secondary">info@ngenambiental.cl</a></li>
        </ul>
      </div>
  
      <div class="col mb-3 redes">
        <h5>Redes Sociales</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a href="https://www.instagram.com/ngen_ambiental/" target="_blank" rel="noopener noreferrer" class="nav-link p-0 text-body-secondary">
                    <img src="/assets/ig.png" alt="logo_Instagram" class="me-2 img_logos"> Instagram
                </a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://www.linkedin.com/in/ngenambientalltda" target="_blank" rel="noopener noreferrer" class="nav-link p-0 text-body-secondary">
                  <img src="/assets/link.png" alt="logo_Linkedin" class="me-2 img_logos"> Linkedin
              </a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://twitter.com/ngenambiental?lang=es" target="_blank" rel="noopener noreferrer" class="nav-link p-0 text-body-secondary">
                <img src="/assets/x.png" alt="logo_X" class="me-2 img_logos"> x
            </a>
        </li>
      </ul>
    </div>