<nav class="navbar navbar-expand-md bg-ngen">
    <div class="container-fluid">
      <button class="navbar-toggler order-2 order-md-1" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/assets/ciervo.png" alt="barra">
      </button>
      <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nuestraEmpresa">Nuestra Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Servicios</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand order-1 order-md-3" href="/"><img src="/assets/logo_ngen.png" alt="logo_ngen"></a>
      <div class="collapse navbar-collapse order-4 order-md-4 fixed2" id="navbar-right">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
          </li>
        </ul>
        <a href="/api/contactos" class="btn"><button>Contacto</button></a>
      </div>
    </div>
  </nav>