<main>
        <div class="image-container">
            <div class="texto-superpuesto">
                <h1>   CLIENTES   </h1>
            </div>
        </div>
        <div class="text_mid">
            <h1>Asesorías Ambientales</h1>
        </div>
        <div class="slider" data-aos="fade-right" data-aos-duration="5000">
            <div class="slide-track">
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-1.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-2.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-3.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-4.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-5.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-6.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-7.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-8.png" alt="">
                </div>
            </div>
        </div>
        <div class="text_mid">
            <h1>Arriendo de Equipos</h1>
        </div>
        <div class="slider" data-aos="fade-left" data-aos-duration="5000">
            <div class="slide-track">
                <div class="slide">
                    <img src="../assets/arriendo_1.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/arriendo_2.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/arriendo_3.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/arriendo_4.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/arriendo_5.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/arriendo_6.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/logo-ams-consultores-1.png" alt="">
                </div>
                <div class="slide">
                    <img src="../assets/arriendo_8.png" alt="">
                </div>
            </div>
        </div>
    </main>