<style>
    .espacio_superior {
        margin-top: 150px;
    }

    .personalizar-container {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<div class="row mb-2 espacio_superior personalizar-container">
    <h1 class="text-center m-3">Bienvenido {{ user }}</h1>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Ngen Ambiental</strong>
                <h3 class="mb-3">Nuestros Formularios</h3>
                <p class="card-text mb-auto">Seleccione para poder ver toda la informacion de los Administradores.</p>
                <a href="listarContactos" class="icon-link gap-1 icon-link-hover stretched-link">
                    Formularios
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://paginav.cl/wp-content/uploads/2021/01/big-data-mundo-cambio-climatico-medioambiente-sostenibilidad-verde-reciclaje-contaminacion-BBVA.jpg"
                    width="200" height="250" alt="Descripción de la imagen" style="object-fit: cover;">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Ngen Ambiental</strong>
                <h3 class="mb-3">Administradores</h3>
                <p class="mb-auto">Todos los formularios rellenados por nuestros clientes.</p>
                <a href="listarAdmin" class="icon-link gap-1 icon-link-hover stretched-link">
                    Administradores
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://instagram.fcor2-2.fna.fbcdn.net/v/t39.30808-6/438097723_18030561166980070_3361561885260820007_n.jpg?stp=dst-jpg_e35_s1080x1080_sh0.08&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xMjc5eDEyNzkuc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fcor2-2.fna.fbcdn.net&_nc_cat=110&_nc_ohc=ZoPwwR9thHcQ7kNvgHvAJwd&edm=ANTKIIoAAAAA&ccb=7-5&oh=00_AYAeCx-4QPxHB206b4cTjoGUWQZpadwmI78UW3m9Lhb1fQ&oe=6657F26A&_nc_sid=cf751b"
                    width="200" height="250" alt="Imagen Administradores de Usuario" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>