<section class="fondo">
    <h1 class="mensaje_error">
      Error 404: Página no encontrada
    </h1>
    <div class="imagen_error">
        <img src="./assets/error_login.jpg" alt="error">
    </div>
</section>