        <main>
            <section class="carrusel">
                <img src="./assets/bg-header.jpg" alt="">
                <img src="./assets/forest_scene_with_sunrays_2.jpg" alt="">
                <img src="./assets/hero_harnessing_energy.jpg" alt="">
                <img src="./assets/ngenPaisaje.jpg" alt="">
                <img src="./assets/ngen ig.jpg" alt="">
            </section>
            <section class="primero">
                <div class="position-relative overflow-hidden p-3 p-md-5 m-md-1 text-center bg-body-tertiary">
                    <div class="col-md-6 p-lg-5 mx-auto my-5">
                        <h1 class="fw-bold color_primario">Cooperando estratégicamente para un</h1>
                        <h1 class="fw-bold color_secundario">desarrollo sustentable.</h1>
                        <p class="fw-normal">Empresa dedicada a estudios ambientales relacionados con los componentes fauna, flora y vegetación. Nuestra misión es ser un aporte sustancial a los estudios de factibilidad ambiental de los proyectos, con el fin de ofrecer las mejores soluciones a los desafíos ambientales de nuestros clientes</p>
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                 <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>
            </section>
            <section class="segundo " data-aos="fade-right" data-aos-duration="350000">      
                <div class="position-relative overflow-hidden p-3 p-md-5 m-md-2 text-center bg-body-tertiary">
                    <div class="col-md-6 p-lg-5 mx-auto my-5 contenido-opaco">
                        <h1 class="fw-bold">Nuestros Servicios</h1>
                        <p class="fw-normal ">
                            Los servicios de NGEN abordan el diagnóstico de los sistemas naturales o con intervención del hombre usando una estrategia de análisis a varias escalas y aplicando un enfoque multivariado y funcional. <br>
                            <br>
                            La consultora presta un servicio integral de acompañamiento estratégico, mediante asesorías y estudios, focalizados en las preguntas a resolver, en torno a proyectos de desarrollo específicos o a generación de información de carácter público.
                        </p>                        
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                 <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>
            </section>
            <section class="primero" data-aos="zoom-in" data-aos-duration="950000">
                <div class="position-relative overflow-hidden p-3 p-md-5 m-md-1 text-center bg-body-tertiary">
                    <div class="col-md-6 p-lg-5 mx-auto my-5">
                        <h1 class="fw-bold color_primario">Consultoria, Investigacion, Conservacion y Desarrollo.</h1>
                        <p class="fw-normal">En NGEN desarrollamos proyectos con enfoque ecosistémico funcional, lo que nos permite <br>
                        analizar los sistemas a varias escalas y utilizando variables de estado ecológico.</p>
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                 <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>            
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="./assets/inicio_1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./assets/inicio_2.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./assets/inicio_3.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./assets/inicio_4.png" alt="">
                    </div>
                </div>
            </div>
        </main>