<main>
        <div class="image-container">
        </div>
            <section class="primero" >
                <div class="position-relative overflow-hidden p-3 p-md-5 m-md-1 text-center bg-body-tertiary">
                    <div class="p-lg-5 mx-auto my-5">
                        <h2>El término "Ngen" (ñen; del mapudungún) hace referencia a los espíritus que se encuentran representando a cada elemento en la naturaleza y nos guían en una interacción cuidadosa y equilibrada entre el hombre y el medio ambiente. Ngen ambiental nace como una nueva forma de realizar consultoría poniendo énfasis en el desarrollo de metodologías adecuadas para el estudio de los ecosistemas y enfocándose en la implementación de medidas y acciones que contribuyan al desarrollo sustentable de nuestro país.</h2>
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                 <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>
        </div>
        <div class="box">
            <div class="caja1">
                <h1>Mision</h1>
                <p>Generar e integrar información científica de la flora y fauna del país de manera de ser un aporte sustancial a los estudios de factibilidad ambiental de los proyectos de desarrollo, con el fin de ofrecer las mejores soluciones a los desafíos ambientales de nuestros clientes.</p>
            </div>
            <div class="caja2">
                <h1>Vision</h1>
                <p>Posicionarnos como empresa líder en consultoría e investigación ambiental, contribuyendo al cumplimiento de los requerimientos ambientales de los proyectos, promoviendo el uso sustentable de los recursos naturales y la colaboración corporativa y comunitaria.</p>
            </div>
            <div class="caja3">
                <h1>Nuestros Valores</h1>
                <p>Comprometidos con nuestra labor, eficiencia en nuestros procesos y calidad en nuestros productos.</p>
            </div>
        </div>
        <div class="titulo">
            <h1>Lineas de acciones</h1>
        </div>
        <div>
            <div class="caja1">
                <p>Evaluación y seguimiento ambiental (SEA) en el área de fauna terrestre, flora y vegetación.</p>
            </div>
            <div class="caja2">
                <p>Realizar investigación relacionada con la conservación y el manejo de la biodiversidad terrestre, de modo de utilizarlos como información científica aplicable a la normativa ambiental.</p>
            </div>
            <div class="caja3">
                <p>Fomentar la capacitación y la educación ambiental como herramientas de difusión y colaboración entre los organismos gubernamentales, las empresas y la comunidad.</p>
            </div>
        </div>
        <div class="titulo bg-body-tertiary">
            <h1 class="p-md-5">¿QUIÉNES SOMOS?</h1>
        <section class="box_mid">   
        <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <div class="contenido">
                <span></span>
                <div class="img">
                    <img src="../assets/Stephanie Fischer Hormazában.png" alt="">
                </div>
                <h4>Stephanie Fischer Hormazábal</h4>
                <h6>Bióloga ambiental de la Universidad de Chile. </h6>
                <p>Especialista en fauna vertebrada terrestre, con 5 años de experiencia en elaboración de DIAs y EIAs, programas de monitoreo y seguimiento ambiental, tanto en el componente limnológico como de fauna terrestre. Ha participado en la implementación de medidas de mitigación asociadas a rescates y relocalizaciones y a perturbación controlada de fauna terrestre. Además, cuenta con 6 años de experiencia realizando inducciones, charlas y talleres de educación ambiental respecto a temas de ecología, conservación, flora y fauna nativas.</p>
            </div>
        </div>
        <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <div class="contenido">
                <span></span>
                <div class="img">
                    <img src="../assets/Gonzalo Ibañez Villaseca.png" alt="">
                </div>
                <h4>Gonzalo Ibáñez Villaseca</h4>
                <h6>Biólogo de la Pontificia Universidad Católica de Valparaíso.</h6>
                <p>Especialista en fauna vertebrada terrestre, con más de 10 años de experiencia profesional en la elaboración, ejecución y seguimiento de proyectos ambientales para empresas del área minera, energética y de obras civiles. Jefe de Proyectos e integrante de equipos multidisciplinarios para el desarrollo de estudios y declaraciones de impacto ambiental, líneas base, planes de manejo, mitigación, restauración y monitoreo de ecosistemas terrestres con énfasis en el componente de fauna terrestre. Ejecutor de programas de catastro, monitoreo, rescate y relocalización de fauna terrestre. Experiencia realizando cursos y capacitaciones relacionadas con ecología, conservación e identificación de especies de fauna terrestre.</p>
            </div>
        </div>
        </section>   
    </main>