<style>
    .titulo {
        text-align: center; /* Centra el texto */
        padding: 600px; /* Agrega un padding de 100px */
        height: auto;
        background-image: url('https://e0.pxfuel.com/wallpapers/919/1010/desktop-wallpaper-bob-the-builder.jpg');
        background-size: cover;
    }

</style>

<h1 class="titulo"> ...PROXIMAMENTE... </h1>